<h1>Example of Auth</h1>
<p>Single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
  <li><a href='https://www.postgresql.org/'>PostgreSQL 13</a> relational database</li>
  <li><a target="_link" href='https://localhost:5001/swagger/index.html'>Swagger</a></li>
</ul>
<p>Details of the project:</p>
<ul>
  <li>In order to <strong>run the project</strong> use the command: <code>dotnet run</code></li>
  <li>Regarding the <strong>frontend</strong> it can be runned seperate <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li>Backend <strong>auth</strong> implemented using <code>identity</code>. </li>
  <li><strong>Token</strong> saved on localstorage as <code>__TOKEN__</code>.</li>
</ul>
